{% extends "layout.html" %}

{% block content %}
<h2>Forgot Password</h2>

<p>Enter your email address and we will send you a password reset link if an account exist</p>

<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input class="form-control" type="email" id="email" name="email" required>
    </div>

    <button type="submit" class="btn btn_primary">Send reset link</button>
</form>

{% endblock %}