{% extends "layout.html" %}

{% block content %}
<h2>Reset Password</h2>

<form method="post">
    <input type="hidden" name=" csrf_token" value="{{ csrf_token()}}">
    <input type="hidden" name="token" value="{{ token}}">

    <div class="mb-3">
        <label for="password" class="form-label">New Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="form-text">
            At least 8 chars, inclued upper lower, digit and special1 character
        </div>
    </div>

    <div class="mb-3">
        <label for="confirm_password" class="form-label">Confirm Password</label>
        <input class="form-control" type="password" id="confirm_password" name="confirm_password" required>
    </div>

    <button type="submit" class="btn btn_primary">Change Password</button>
</form>

{% endblock %}